/* 

custom look and feel for KGI CONTENTdm site


*/
#maincontent .shared-box, iframe {
	border: none;
	flex: 2 1 40%;
	padding: 5px;
	margin: 0 0 10px 0;
	max-width: 42em;
	min-height: 50em;
}
/* fold/unfold list of publications */
.agency-docs {
	display: none;
}

.agency-docs:target {
	display: block;
}

.agency-docs::before { /*keep top of item in view when jumping to anchor link */
	content: "";
	display: block;
	margin-top:-175px;
	padding-top:175px;
	
}