/* v 4.1.7

custom look and feel for KGI CONTENTdm site
---------------------------------------------
table of contents
---------------------------------------------

#	layout tweaks
	## Collection landing pages
#	custom functionality
	## list of publications
	## individual record pages

*/


/*---------------------------------------------
   # layout tweaks
-----------------------------------------------*/

.shared-box {
	padding: 10px;
}

#homepage-main {
    margin: auto;
    margin-bottom: 10px;

    } 

#ask {
    border-radius: 4px;
	height: 400px;
    overflow: hidden;
	text-align: center;
}

#ask iframe {
	border: none;
	height: 100%;
    width:100%;
}

.Header-logoImage {
	padding: 10px;
}

#homepage-main section {
	margin: 10px
}

*:target {
    margin-top:-150px;
    padding-top:150px;
}

.logo img {
		width: 30%
	}
	.logo p {
		
		flex: 2 1 60%;

		

		padding: 1em;
	}
	.logo {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		align-content: space-between;
	}

/*---------------------------------------------
  ## collection landing pages
-----------------------------------------------*/


/*---------------------------------------------
  # custom functionality
-----------------------------------------------*/

/* 	## list of agency publications for home/historical pages
--------------------------------------*/
.agency-container {

}

.agency-name, .agency-container {
	display: block;
}
.agency-name {
    cursor: pointer;
}

.agency-container .agency-docs {
	display: none;
	
}


.agency-container:target > .agency-docs, .agency-container.open > .agency-docs {
	display: block;
}

.agency-container .agency-name::before { /*change bullets to folders */
	color: #F5B11E;
	content: "\f07b";
	display:inline-block;
	font-family: fontAwesome;
	font-size: 1.2em;
	padding-right: 20px;
	margin-left: -20px;
}
.agency-container:target > .agency-name::before, .agency-container.open > .agency-name::before {/*open folder when targeted*/
	content: "\f07c";
} 

.folder-nav {
	opacity: .75;
	position: sticky;
	top: 0px;
	text-align: right;
}

@media only screen and (min-width: 1000px) {
	#homepage-main {
        display: -ms-grid;
        display: grid;
        grid-auto-flow: dense;
        -ms-grid-columns: 3fr 5fr 5fr;
        grid-template-columns: 3fr 5fr 5fr;
 }

	   
	.agency-list {
        -ms-grid-row-span: 5;
        grid-row-end: span 5;
        
 }
 
 #home-header{
     -ms-grid-row:1;
 }
 #modern {
     -ms-grid-column: 2;
     
 }
 #hist {
     -ms-grid-column: 3;
     
 }
 #imls{
     -ms-grid-row:2;
     
 }
 #kshs {
     -ms-grid-row:3;
     
 }
	#ask {
		border-radius: 4px;
        -ms-grid-row: 4;
		overflow: hidden;
        position: sticky;
		top: 160px;
        left:0;
       
	}
	
	

	.logo img {
		width: 70%;
	}
	.agency-container {
	
	}
	.agency-name{
		
	}
	.folder-nav {
		top:160px;
	}
	

} /*end media query */


/*	## individual record pages
---------------------------------------------*/
.ItemView-itemSearchContainer.ItemSearch-itemSearchPrint, .ItemView-itemSearchContainer.ItemSearch-itemSearchPrint, .ItemView-bottomSingleItemBorder {
	display: none /*remove confusing search box */
}

.g-drive-display {
	border: none;
    height: 275px;
    width: 100%;
}

button.expanderButton {
	height: 100%;
	left: 0;
	Position: absolute;
	top: 0;width: 100%;
	
}

.fa.cdm-btn {
	font-family: FontAwesome;
}