/* 

custom look and feel for KGI CONTENTdm site


*/
#maincontent .shared-box, iframe {
	border: none;
	flex: 2 1 40%;
	padding: 5px;
	margin: 0 0 10px 0;
	max-width: 42em;
	min-height: 50em;
}
/* fold/unfold list of publications */
.agency-docs {
	display: none;
}

.agency-name:target .agency-docs {
	display: block;
}

.agency-name {
		margin-top:-25px;
	padding-top:25px;
	display: block;
}
.agency-name::before { /*change bullets to folders */
	content:"\f07b";
	display:inline-block;
	font-family: FontAwesome;
	margin-left: -10px;
	margin-right: 10px;
}
.agency-name:target::before {
	content: "\f07c";
}

.agency-name.loading::before {
    animation: fa-spin 2s infinite linear;
    content: "\f110";
}


@media only screen and (min-width: 768px) {
	.agency-name {
		margin-top: -175px;
		padding-top: 175px;
	}
}

section {
	margin: 10px;
	padding: 10px;
}

#agency-list {
	order: -1;
}

